<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Image</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="text-container">
        <h2>Enter Text in Any Indian Language</h2>
        <form action="/generate" method="post">
          <div class="form-group">
            <label for="text">Text</label>
            <input
              type="text"
              id="text"
              name="text"
              placeholder="Type something..."
              required
            />
          </div>
          <button type="submit" class="btn">Generate Image</button>
          <button
            type="button"
            onclick="location.reload()"
            class="btn refresh-btn"
          >
            Refresh
          </button>
        </form>
      </div>
      <div class="image-container">
        {% if image_data %}
        <h3>Generated Image:</h3>
        <img
          src="data:image/png;base64,{{ image_data }}"
          alt="Generated Image"
        />
        <a
          href="data:image/png;base64,{{ image_data }}"
          download="generated_image.png"
          class="btn"
        >
          Download Image
        </a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
